* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    min-height: 100vh;
    background: rgb(2, 0, 36);
    background: linear-gradient(142deg, rgba(2, 0, 36, 1) 0%, rgba(82, 22, 185, 1) 35%, rgba(39, 12, 80, 1) 100%);
}

input {
    border: none;
    border-radius: 5px;
    padding: 2px;
    color: #3a5a40;
    width: 70vw;
}

h1 {
    word-spacing: 3px;
    color: white;
    font-size: xx-large;
}

button {
    background-color: #270c50;
    color: white;
    border: none;
    padding: 5px;
    border-radius: 5px;
    height: 30px;
}

table {
    display: none;
    width: 80vw;
    background-color: white;
    color: #270c50;
    border-radius: 10px;
    border-collapse: collapse;
    border: 1px solid #270c50;
}

td {
    width: 26.6vw;
}

thead {
    text-align: center;
}

@media only screen and (max-width: 600px) {
    div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    input {
        height: 40px;
        width: 90%;
    }

    button {
        height: 40px;
    }
}

#edititems {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#main {
    background-color: #cbc3d8;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 30px 0px rgba(255, 255, 255, 0.74);
    -moz-box-shadow: 0px 0px 30px 0px rgba(255, 255, 255, 0.74);
    box-shadow: 0px 0px 30px 0px rgba(255, 255, 255, 0.74);
}

#cadastro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#inputs_cadastro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#alternar {
    display: flex;
    flex-direction: row;
    align-items: start;
    width: 73%;
}

#apaga,
#edita {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#mudapracadastrar {
    text-decoration: underline;
    text-decoration-color: white;
    text-decoration-thickness: 2px;
}

#mudapraeditar {
    text-decoration: none;
    text-decoration-color: white;
    text-decoration-thickness: 2px;
}